<nav class="navbar navbar-expand-lg shadow-sm fixed-top bg-white" dir="rtl">
    <div class="container-fluid px-4">
      <!-- Logo et nom -->
      <a class="navbar-brand fw-bold fs-4 text-primary" routerLink="">
        <img src="aioun-logo.jpeg" alt="شعار" class="me-2" width="35">
        مدينتي
      </a>
  
      <!-- Bouton menu mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Liens -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-end">
          <li class="nav-item">
            <a class="nav-link" routerLink="">الرئيسية</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="histoire">تاريخ المدينة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="culture">الثقافة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tourisme">السياحة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="politique">السياسة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sport">الرياضة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">عن المدينة والموقع</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">تواصل معنا</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  