p {
    line-height: 1.9;
  }
  
  img {
    max-height: 400px;
    object-fit: cover;
  }
  
  .alert {
    font-size: 1.2rem;
    background: linear-gradient(to right, #0d6efd, #0dcaf0);
    color: white;
  }
  